.header-container {
  display: flex;
  width: 70%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 30px;
}

.logo img {
  width: 150px;
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header-container {
    width: 100%;
  }
}
